.drop, .fix {
    text-align: center;
    border: 1px solid lightgrey;
}
.container {
	font-family: "Arial";
    width:100%;
}
.drop {
    box-sizing: border-box;
    min-height: 400px;
}
.fix {
    float: left;
    width:100%;
    box-sizing: border-box;
}
#tree {
    float: left;
	width: 10%;
}
#map {
    float: left;
	width: 70%;
}
#form {
    float: left;
	width: 20%;
}
@media (max-width: 720px) {
	#tree, #map, #form {
        float: none;
        width: 100%;
	}
}
