div {
    float: left;
}
.drop, .fix {
    text-align: center;
    border: 1px solid lightgrey;
}
.container {
	font-family: "Arial";
    width:100%;
}
.drop {
    box-sizing: border-box;
    min-height: 600px;
}
.fix {
    float: left;
    width:100%;
    box-sizing: border-box;
}
#tree {
	width: 10%;
    font-size: x-small;
    text-align:left;
    padding:0;
}
#tree > ul {
    padding-left:4px;
	font-weight:bold;
}
#tree ul {
	list-style-type:none;
	padding-left:8px;
}
#tree ul ul {
	display:none;
	font-weight:normal;
}
#tree ul ul ul {
	color:blue;
}
#tree span:hover {
	background: lightblue;
}
#tree div {
    float: left;
	width: 100%;
}
#tree > div:first-child {
    text-align:center;
    padding-top:8px;
    padding-bottom:8px;
    border-bottom: 1px solid lightgrey;
}
#tree > div:first-child label {
    float: left;
	width: 100%;
    margin-bottom:8px;
}
#map {
	width: 60%;
}
#form {
	width: 30%;
}
@media (max-width: 720px) {
	#tree, #map, #form {
        float: none;
        width: 100%;
	}
}
