div {
    float: left;
}
.drop, .fix {
    text-align: center;
    border: 1px solid lightgrey;
}
.container {
	font-family: "Arial";
    width:100%;
}
.headiv {
    float: left;
}
#hl, #hr {
	width:20%;
}
#hr {
}
#hl {
}
#hc {
	width:60%;
}
#pdc_login input {
    width:60px;
}
.drop {
    box-sizing: border-box;
    min-height: 600px;
}
.fix {
    float: left;
    width:100%;
    box-sizing: border-box;
}
#tree {
	width: 10%;
    font-size: x-small;
    text-align:left;
    padding:0;
}
#tree > ul {
    padding-left:4px;
	font-weight:bold;
}
#tree ul {
	list-style-type:none;
	padding-left:8px;
}
#tree ul ul {
	display:none;
	font-weight:normal;
}
#tree ul ul ul {
	color:blue;
}
#tree span:hover {
	background-color: lightblue;
}
#tree div {
    float: left;
	width: 100%;
}
#tree > div:first-child {
    text-align:center;
    padding-top:8px;
    padding-bottom:8px;
    border-bottom: 1px solid lightgrey;
}
#tree > div:first-child label {
    float: left;
	width: 100%;
    margin-bottom:8px;
}
#tree table {
    border-collapse: collapse;
    font-size: xx-small;
    margin-left: 6px;
    margin-bottom: 10px;
    text-align:left;
}
#tree table tr > td:first-child {
	font-weight:bold;
}
#tree table td {
    border: 1px solid lightgrey;
    padding: 2px;
}
.tdareacode {
	display:none;
}
#map {
	width: 60%;
}
#form {
	width: 30%;
}
.inform {
	width: 100%;
    float: left;
	padding:10px;
}
#titform div {
    float: left;
    text-align: left;
    padding-left: 2px;
    margin-left: 4px;
    min-width: 10px;
    font-size: x-small;
}
#titform div:nth-child(odd) {
    font-weight: bold;
}
#titform div:nth-child(7) {
    display: none;
}
#form_elements {
    font-size: small;
}
#footer {
    font-size: xx-small;
    text-decoration: none;
    padding:10px;
}
#footer a {
    text-decoration: none;
    color: black;
}
#footer a:hover {
	background: lightblue;
}
@media (max-width: 720px) {
	#tree, #map, #form {
        float: none;
        width: 100%;
	}
}
